*, *::before, *::after{
    box-sizing: border-box;
}

html,body {
    padding: 0;
    margin: 0;
    background-color: #3d6cb9;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
   
.container {
    width: 800px;
    max-width: 80%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 8px #000000;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    gap: 10px;
}
.question-container {
    margin-bottom: 20px;
}

#question {
    text-align: center;
}

/* .hide {
    display: none;
} */

#start-button, #next-button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
