html,body {
 background-color: #3d6cb9;
 height: 100%;
 width: 100%;
}

.button-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-button {
    background-color: #00fff0;
    width: 300px;
    height: 200px;
}